<!-- src/app/about/about.component.html -->
<div class="about-section">
  <div class="about-content">
    <h2>About Me</h2>
    <p>
      I am an accomplished computer engineer with a strong affinity for crafting exceptional web experiences. My professional journey has been dedicated to mastering the art of full-stack development, specializing in Java and Angular technologies. With a deep-rooted passion for web development, I am driven to create seamless, user-centric applications that seamlessly merge functionality and design.
    </p>
    <p>
      Java holds a special place in my heart as I believe in its unmatched versatility and power to bring innovative web solutions to life. My commitment to excellence propels me to not only excel in the role of a web developer but to consistently explore new avenues for growth and innovation in the ever-evolving web development landscape.
    </p>
  </div>
</div>
