/* src/app/home/home.component.scss */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
  transition: background-image 1s ease-in-out;

  .content {
    background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background for better readability */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    animation: fadeInContent 1.5s ease forwards;
  }

  h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .intro-text {
    font-size: 1.4em;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #00bcd4;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: #0097a7;
      transform: scale(1.05);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInContent {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
